@model PizzaViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Operacao == "I")
{
    <h2>Cadastro de Pizza</h2>
}
else
{
    <h2>Alteração de Pizza</h2>
}

<div class="row">
    <div class="col-md-4">
        <form action="save" method="post" class="col-md-6">

            <input type="hidden" value="@ViewBag.Operacao" name="Operacao" />
            <div class="form-group">
                <label for="Id" class="control-label">Código da Pizza</label>

                @if (ViewBag.Operacao == "I")
                {
                    <input type="number" Name="Id" value="@Model.Id" class="form-control" />
                }
                else
                {
                    <input type="number" Name="Id" value="@Model.Id" readonly class="form-control" />
                }
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label for="Descrição" class="control-label">Nome da pizza</label>
                <input type="text" class="form-control" Name="Descricao" value="@Model.Descricao" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <br />

            <div class="form-group">
                <input type="submit" class="btn btn-info" value="Salvar dados" />
            </div>
            <br />
        </form>
    </div>
</div>