@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Ferrazi Pizzas</h1>
    <br />
    <h1><a href="/pizza/index" class="btn btn-success">Iniciar</a></h1>
</div>
